---
network:
  version: 2
  ethernets:
    renderer: networkd
    {{ name }}:
      addresses:
        - {{ (network.base ~ '/' ~ network.cidr_mask) | ansible.utils.next_nth_usable(network.node_range.min + swarm_node.number) }}/{{ network.cidr_mask }}
      {% if network.gateway is defined -%}
      routes:
        - to: default
          via: {{ network.gateway }}
      {% endif -%}
      nameservers:
        addresses:
          - {{ network.nameserver }}
      dhcp4: false
      dhcp6: yes
      optional: {{ network.optional }}
      accept-ra: yes
